@media (max-width: 768px){
	.navbar-brand{
		margin-top: -0.5%;
	}

	#navjust{
		background-color: black;
	}

}

@media (max-device-width: 480px){

	.navbar-brand{
	margin-top: -10%;	
	}

	#navjust{
		background-color: black;
	}
}

@media (max-device-width: 375px){

	.navbar-brand{
	margin-top: -15%;
	margin-bottom: 3%;	
	}

}

