#manage , #incoming, #reports, #returns{
	margin-left: 20%;
}

#sidebarLogo {
	display: block;
	margin-left: 25%;
	padding-bottom: 5%;
}

.LogBtn {
	margin-top: 82%;
	float: right;
}

.PrintBtn {
	margin-top: 82%;
	float: left;
}

.LogBtnUser {
	margin-top: 110%;
	float: right;
}

.PrintBtnUser {
	margin-top: 110%;
	float: left;
}

@media (max-width: 766px) {
	#sidebarLogo {
		display: none!important;	
	}

	.LogBtn {
	margin-top: 0%;
	float: none;
	}

	.PrintBtn {
	margin-top: 0%;
	float: none;
	}

	.LogBtnUser {
	margin-top: 0%;
	float: none;
	}

	.PrintBtnUser {
	margin-top: 0%;
	float: none;
	}

	#manage , #reports, #returns{
	margin-left: 5%
	}
}